@import './transition.scss';

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: none;
  }

  ::-webkit-scrollbar-track {
    background-color: none;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
  }
}

ul{
  list-style: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
}


@font-face {
  font-family: "DS";   
  src: url("../assets/DS-DIGII.TTF");  
}
*{
  padding: 0;
  margin: 0;
}

html{
  background-color: var(--bingyu-color-bg1);
}
body{
width:auto;
}
.window-title{
  background-color: rgb(255, 255, 255,.1) !important;
  color: var(--bingyu-color-text1);
}
//这些自定义样式覆盖了原来的  亮白色  样式

.el-tag{
  border: none;
}
.el-button--success{
  border: none;
}
.el-dialog {
  background-color: var(--bingyu-color-bg3);
}

:root{
  --el-bg-color:none;
  --el-fill-color-lighter:none;
  --el-color-primary-light-9:none;
  --el-color-danger-light-9:rgb(200,200,200,0.8);
  --el-color-success-light-9:rgb(50,50,50,0.8);

}
.el-table .el-table__cell{
z-index: 0;
}
.el-tag.el-tag--danger {
  --el-tag-bg-color: none;
  --el-tag-border-color: none;
  --el-tag-hover-color: none;
}
.el-tag.el-tag--success{
  --el-tag-bg-color:none;
  --el-tag-border-color:none;
  --el-tag-hover-color:none;
}